---
import NotFavorite from "../../../components/lists/NotFavoriteItem.astro";
import Favorite from "../../../components/lists/FavoriteItem.astro";
import axios from "axios";

const PUBLIC_API_URL = import.meta.env.PUBLIC_API_URL;

let restaurants = [];

if ( Astro.request.method === "POST" ) {
  const data = await Astro.request.formData();
  const query = data.get("query");
  try {
    const resp = await axios.get(`${PUBLIC_API_URL}/resy/search?venueName=${query}`, {
      headers: {
        "Content-Type": "application/json",
        "Authorization": Astro.cookies.get("token")?.value
      },
  });
  restaurants = resp.data.venues;
  console.log(restaurants);
  } catch (error) {
    console.log(error);
    return;
  }
}
---
<script>
</script>
<div class="bg-white even:bg-slate-300">
  { restaurants.map ( (restaurant, index) => (
      restaurant.isFavorite ?
        <Favorite restaurant={restaurant} key={index + 1} total={restaurants.length} delay={true}  /> 
          :
        <NotFavorite restaurant={restaurant} key={index + 1} total={restaurants.length} delay={true}/> 
    )
  )}
</div>