---
// @ts-nocheck
import BasicInput from "../../../components/inputs/BasicInput.astro";
import Secondary from "../../../components/Buttons/Secondary.astro";
import Primary from "../../../components/Buttons/Primary.astro";
import DashLayout from "../../../layouts/DashLayout.astro";

import axios from "axios";

const CONTROLLER_HOST = import.meta.env.CONTROLLER_HOST;

let errorMsg = false;
let emailError = false;
let confirmError = false;
let success = false;
let phoneNumber = "";
let email = "";
let verified = "";
let status = "";

try {
  const { data } = await axios({
    url: `${CONTROLLER_HOST}/status`,
    method: "GET",
    headers: {
      "Content-Type": "application/json",
      "Authorization": Astro.cookies.get("token").value
    }
  });

  status = data;

} catch (error) {
  console.log(error);
  errorMsg = error?.response?.data?.message || "Something went wrong";
}

---
<DashLayout title="settings">
  <main class="px-48 pt-12">
    <div class="grid grid-cols-12 gap-24 ">
      <div class="col-span-8 outline-1 outline">
        <div class="flex flex-col px-40 md:py-12 sm:px-10 space-y-14">
          <h1 class="text-4xl font-bold uppercase">
            Controller Settings
          </h1>

          <form 
            hx-put='/dashboard/controller/update'
          >
            <BasicInput type="text" name="status" label="status" value={status} disabled={true} />
            <BasicInput type="radio" name="verified" label="set" value={verified} />
            <BasicInput
              type="phone"
              name="phoneNumber"
              label="phone number"
              value={phoneNumber}
              mask="(999) 999-9999"
            />

            

            <Primary type="submit" label="Save"/>
            
          </form>
        </div>
      </div>
      <!-- <div class="col-span-6 outline-1 outline">
        <img src="/running-man.png" class="h-full w-full"/>
      </div> -->
    </div>
  </main>
</DashLayout>
