---
// @ts-nocheck
import BasicInput from "../../../components/inputs/BasicInput.astro";
import Secondary from "../../../components/Buttons/Secondary.astro";
import Primary from "../../../components/Buttons/Primary.astro";
import DashLayout from "../../../layouts/DashLayout.astro";

import axios from "axios";

const CONTROLLER_HOST = import.meta.env.CONTROLLER_HOST;

let errorMsg = "";
let successMsg = "";
let status = "";
let running = false;
let interval = "";

if ( Astro.request.method === "GET" ) {

  try {
    const { data } = await axios({
      url: `${CONTROLLER_HOST}/status`,
      method: "GET",
      headers: {
        "Content-Type": "application/json",
        "Authorization": Astro.cookies.get("token").value
      }
    });

    status = data.status;
    running = status === "Stopped 🛑" ? false : true;
    console.log(running);
    interval = data.interval;

  } catch (error) {
    console.log(error);
    errorMsg = error?.response?.data?.message || "Something went wrong";
  }
}

---
<DashLayout title="settings">
  <main class="px-48 pt-12">
    <div class="grid grid-cols-12 gap-24 ">
      <div class="col-span-8 outline-1 outline">
        <div class="flex flex-col px-40 md:py-12 sm:px-10 space-y-14">
          <h1 class="text-4xl font-bold uppercase">
            Controller Settings
          </h1>

          <form 
            hx-post='/dashboard/controller/update'
          >
            <BasicInput type="text" label="status" value={status} disabled={true} />
            
            <!-- TOGGLE SERVICE ON OR OFF -->
            <div class="flex flex-row items-center space-x-4 mb-4">
              <label for="start" class="text-xl font-bold">
                Run Service
              </label>
              <input type="checkbox" name="run" id="run" checked={running} />
            </div>
            
            <!-- SET INTERVAL -->
            <BasicInput
              type="number"
              name="interval"
              label="interval in seconds"
              value={interval}
              />

            <Primary type="submit" label="Save"/>
            
          </form>
        </div>
      </div>
      <!-- <div class="col-span-6 outline-1 outline">
        <img src="/running-man.png" class="h-full w-full"/>
      </div> -->
    </div>
  </main>
</DashLayout>
