---
interface Props {
	title: string;
}

import NavLink from "../components/info/NavLink.astro";

const { title } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
 
---
<!doctype html>
<html lang="en" class="min-h-screen h-screen flex text-base w-full w-screen antialiased">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon-32.png" />
		<meta name="generator" content={Astro.generator} />
		<script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous" is:inline></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;900&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body class="flex h-screen flex-col pb-1 mx-1 md:mx-12 " hx-ext="loading-states">
		<nav class="md:visible hidden md:flex justify-between items-center p-8 mb-6 ">
			<div class="flex items-center space-x-2">
				<a href="/" class="text-gray-900 text-2xl capitalize flex items-center space-x-2">
					<img src="/logo.jpeg" class="w-10 h-10"/>
					<span>Dine-N-Dash</span>
				</a>
			</div>
			<div class="flex justify-end space-x-7 text-2xl">
				<NavLink currentPath={currentPath} link="/dashboard" text="dashboard" />
				<NavLink currentPath={currentPath} link="/dashboard/settings" text="settings" />
				<NavLink currentPath={currentPath} link="/dashboard/controller" text="controller" />
				<NavLink currentPath={currentPath} link="/logout" text="logout" />
			</div>
		</nav>
		
		<nav class="md:hidden flex justify-between items-center p-8 mb-6 ">
			<div class="flex items-center space-x-2">
				<a href="/" class="">
					<img src="/logo.jpeg" class="w-6 h-6"/>
				</a>
			</div>
			<div class="flex justify-end space-x-7 text-lg">
				<NavLink currentPath={currentPath} link="/dashboard" text="dashboard" />
				<NavLink currentPath={currentPath} link="/dashboard/settings" text="settings" />
				<NavLink currentPath={currentPath} link="/dashboard/controller" text="controller" />
				<NavLink currentPath={currentPath} link="/logout" text="logout" />
			</div>
		</nav>
		<div class="flex h-full flex-col">
			<slot />
		</div>
	</body>
</html>
<style is:global>
	/* :root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}, */
	[data-loading]: {
		display: none;
	}
</style>
